.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  margin: 20px;
  padding: 20px;
  max-width: 1200px;
  min-width: 300px;
  max-height: 900px;
  min-height: 300px;
}

.modal img {
  max-width: 1200px;
  max-height: 900px;
  min-width: 800px;
  min-height: 600px;
}
